.chart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;

    width: 780px;
    height: 198px;

    background: #E1CAE4;
    border-radius: 12px;


    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}