*{
    padding:0;
    margin:0;
    line-height: 1.5;
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.list-card{
    display: flex;

}
.list-left, .list-right{
    width: 50%;
    margin-right: 10px;
    word-break: break-word;
    background-color:hsla(0,0%,100%,0.1);
    border-radius: 12px;
    padding: 8px 0;
}
.card{
    padding: 12px;
}
.ranking{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin: auto 12px auto 0;
}
.content-mini{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-right: 15px;
   
}
.content-info{
    margin-left: 12px;

}
.time-subtitle{
    display: flex;
    flex-direction: row;
}
.date{
    padding-right: 10px;
}